{% extends 'base.html' %}
{% load static %}
{% block title %} Register {% endblock title %}

{% block link_styles %} 
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock link_styles %}

{% block content %}

<section class="container">

    <h3 class="text-light text-center mt-3">🎊 Register Yourself To See Your Names 🎉</h3>
    <div class="form_add mt-5">
        <table class="table">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>{{ field }}</td>
                        <td>{{ field.errors|striptags }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><input type="submit" value="Register" class="btn btn-light"/></td>
                </tr>
            </form>
        </table>
    </div>

</section>

{% endblock content %}